@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('/assets/CursedTimerUlil-Aznm.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Cursed Timer ULiL', Verdana, sans-serif;
    font-size: 20px;
}

.score-container {
    background-color: #1B244A;
    margin: 50px auto 0;
    padding: 50px;
    width: 450px;
}

.score-section {
    display: flex;
    justify-content: space-between;
}

.team-wrapper {
    display: flex;
    flex-direction: column;    
    text-align: center;
    gap: 10px;
}

.team-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #EEEEEE;
    margin: 0;
}

#home-score, #guest-score {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: #080001;
    color: #F94F6D;
    height: 120px;
    font-size: 90px;
}

.btn {
    font-family: 'Cursed Timer ULiL';
    background-color: transparent;
    font-size: 18px;
    color: #9AABD8;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: 1px solid #9AABD8;
    border-radius: 5px;
}

.action-section {
    margin-top: 30px;
}

.new-game-btn {
    display: block;
    padding: 15px 20px;
    margin: 0 auto;
    background-color: #9AABD8;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}